# create a openai api key : https://platform.openai.com/
OPENAI_API_KEY=

# create a anthropic api key : https://console.anthropic.com/settings/keys
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL="claude-3-5-sonnet-20241022"


# create a tavily api key : 
TAVILY_API_KEY=

# create a langsmith project and get the api key : https://smith.langchain.com/
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=loka-challenge


